.container {
 
  box-sizing: border-box;
}

.header {
  width: 100%;
}

.mainContent {
    width: 100%;
    margin: 0 auto;
    min-height: 450px;
    overflow-y: auto;
    background: #DDE6ED;
}

.footer {
    width: 100%;
    height: 33px;
}